<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h4>My Books</h4>
        <a href='/books'>home</a> | <a href='/logout'>logout</a>
    </header>

    <div style="display: flex; flex-wrap: wrap;">
    
        <% books.forEach((bk)=>{ %>
            <blockquote style=" flex-grow: 1; flex-basis: 25%; margin: 10px; min-height: 120px;">
                <div>
                    <%= bk.title %><br>
                    <cite>by: <%= bk.author %></cite>
                </div>
            </blockquote>
        <% }) %>

    </div>

    
</body>

</html>